# Impede o acesso a pastas sem um arquivo index
#Options -Indexes





#<IfModule mod_deflate.c>
    # Compressão Gzip para arquivos de texto
  #  AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/javascript application/x-javascript

    # Compressão para arquivos de imagem (opcional)
 #   AddOutputFilterByType DEFLATE image/svg+xml
 #   AddOutputFilterByType DEFLATE image/x-icon

    # Não comprimir arquivos que já estão compactados
#   SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png|zip|rar|pdf)$ no-gzip dont-vary

    # Excluir arquivos pequenos da compressão
 #   SetEnvIfNoCase Request_URI \.(?:css|js|html|txt)$ no-gzip dont-vary

    # Defina cabeçalhos de controle para cache
#   Header append Vary User-Agent
#</IfModule>
